# Project exclude paths
/osa05-Osa05_01.HelloSession/osa05/Osa05_01.HelloSession/target/
/osa05-Osa05_02.ReloadHeroes/osa05/Osa05_02.ReloadHeroes/target/
/osa05-Osa05_03.EuroShopper/osa05/Osa05_03.EuroShopper/target/
/osa05-Osa05_04.HelloAuthentication/osa05/Osa05_04.HelloAuthentication/target/
/osa05-Osa05_06.Reservations/osa05/Osa05_06.Reservations/target/
/osa05-Osa05_07.OnlyForTheSelected/osa05/Osa05_07.OnlyForTheSelected/target/
/osa05-Osa05_08.HiddenFields/osa05/Osa05_08.HiddenFields/target/